API_KEY = enter_your_api_key_here

# write "OFF" to deactivate the riddle generator, write "ON" to activate it
RIDDLE = "OFF/ON"
# write True to use the environment variable for riddle settings, write False to use the system variable
USE_ENV_FOR_RIDDLE_SETTINGS = True/False 